<h1>Add a Review for <%= @restaurant.name %></h1>

<%= form_with model: @review, local: true do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..5 %>
  </div>

  <%= form.submit "Submit Review" %>
<% end %>
